<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sticky Links</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>


  <div class="container" id="app">
    <header>
      <h1>Hey there!🎄</h1>
      <p>paste your links here and copy them back when needed.</p>
    </header>

    <div class="wrapper" >
      <div>
        <img src="img/stickyimage.png" alt="sticky image">
        <h2>STICKY LINKS</h2>
      </div>
      <p></p>
      <ul class="links">
        <p class="links-heading" v-if="links.length < 1">Add Your Links...</p>
        <li v-for="(link,i) in links" :key="i" class="items">
          <span class="fa fa-star"><span :data-star="i" class="fa fa-star starRating" :style="colorStar(i)"></span></span>
          <label :for="link">{{link.text}}</label>
            <span :data-index="i" class="fa fa-close options"></span>
            <span :data-index="i" class="fa fa-external-link options" @click="openInNewTab(i)"></span>
        </li>
      </ul>
      <form class="add-items" @submit="populateLinks">
        <div class="input-group">
          <p v-if="duplicateLinks" class="multiple-link-error">This links already exist!</p>
          <input   @focus = "urlError = false, duplicateLinks = false" type="text" name="linkTxt" placeholder="paste link.." required id="linkTxt" v-model="text">
          <template v-if="urlError">
            <div class="error"><i class="fa fa-info-circle"></i>Please enter a correct link</div>
          </template>

          <input type="submit" value="+ Add Link">
        </div>
        <div>
          <input type="button" class="delete-all" value="Delete All" @click="deleteAll">
        </div>
      </form>
    </div>
  </div>



  <script src="js/vue.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
